/* Bro why you looking at my CSS lmao */
/* 
   While you're here, I would like to thank you for coming to the wedding. :)
   I'm super stoked to be marrying someone like Lilly, and I genuinely
   can't wait to start spending our lives together.

   The friends we've made along the way have made our experiences that much
   better. To those I've met at Microsoft and Amazon, ilysm. You've shaped
   me to be the person I am today-- for better or for worse. 
   
   Those of you who are reading that are obviously in close contact with me, which is
   a connection I don't generally hold with everyone. You are special to me.

   Thanks for coming, again. Love you. See you soon. :)
*/


h1 {
    font-size: 10.0vh;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: 8.0vh;
    font-family: 'Amatic SC', cursive;
}

h3 {
    font-size: 7.0vh;
    font-family: 'Amatic SC', cursive;
}

h4 {
    font-size: 6.0vh;
    font-family: 'Amatic SC', cursive;
}

h5 {
    font-size: 5.25vh;
    font-family: 'Amatic SC', cursive;
}

h6 {
    font-size: 4.5vh;
}

p {
    font-size: 3.0vh;
    font-weight: 300;
    margin: 0;
}

ul {
    padding: 0;
}

.fullContainer {
    display: block;
    
    padding: 2% 4% 2% 4%;
    margin: 0;

    left: 0;
    right: 0;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collapsibleTwoColumnElement {
    width: 45%;
    margin: 0 2.5% 0 2.5%;
}

.collapsibleFourColumnElement {
    width: 20%;
    margin: 0.5% 1.25% 1% 1.25%;

    display: flex;
    justify-content: center;
}

.hiddenOnMobile {
    opacity: 0.5;
}

@media only screen and (max-width: 1000px) {
    .collapsibleFourColumnElement {
        width: 29%;
        margin: 0.75% 1% 1.5% 1%;
    }
}

@media only screen and (max-width: 750px) {
    .collapsibleTwoColumnElement {
        width: 100%;
        margin: 1% 0 2% 0;
    }

    .collapsibleFourColumnElement {
        width: 45%;
        margin: 1% 1.25% 2% 1.25%;
    }

    .hiddenOnMobile {
        opacity: 0.1;
    }
}

@media only screen and (max-width: 350px) {
    .collapsibleFourColumnElement {
        width: 100%;
        margin: 1% 2% 2% 2%;
    }
}