/* Bro why you looking at my CSS lmao go away */

h1 {
    font-size: 7.0vh;
    font-weight: bold;
}

h2 {
    font-size: 6.5vh;
}

h3 {
    font-size: 6.0vh;
}

h4 {
    font-size: 5.25vh;
}

h5 {
    font-size: 4.5vh;
}

h6 {
    font-size: 3.75vh;
}

p {
    font-size: 3.0vh;
    font-weight: lighter;
    margin: 0;
}

.fullContainer {
    display: block;
    
    padding: 2% 4% 2% 4%;
    margin: 0;

    left: 0;
    right: 0;
}