/* Bro why you looking at my CSS lmao go away */

h1 {
    font-size: 10.0vh;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: 8.0vh;
    font-family: 'Amatic SC', cursive;
}

h3 {
    font-size: 7.0vh;
    font-family: 'Amatic SC', cursive;
}

h4 {
    font-size: 6.0vh;
    font-family: 'Amatic SC', cursive;
}

h5 {
    font-size: 5.25vh;
    font-family: 'Amatic SC', cursive;
}

h6 {
    font-size: 4.5vh;
}

p {
    font-size: 3.0vh;
    font-weight: lighter;
    margin: 0;
}

.fullContainer {
    display: block;
    
    padding: 2% 4% 2% 4%;
    margin: 0;

    left: 0;
    right: 0;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collapsibleTwoColumnElement {
    width: 45%;
    margin: 0 2.5% 0 2.5%;
}

@media only screen and (max-width: 768px) {
    .collapsibleTwoColumnElement {
        width: 100%;
        margin: 1% 0 2% 0;
    }
}